@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
/* ## Layout - Mobile: 375px, - Desktop: 1440px */
:root {
  /* COLORS */
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --purple: hsl(281, 82%, 53%);
  --purple-shadow: hsla(281, 82%, 53%, 0.1);

  /* Typography */
  --font-paragraph: 16px;
  --font-workSans: "Work Sans", sans-serif;
  /* weights: 400, 600, 700 */
}

::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/background-pattern-mobile.svg);
  background-size: auto 320px;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--light-pink);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-workSans);
}

button {
  padding: 0;
  border: 0;
  margin: 0;
  inset: 0;
}
main {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 5rem var(--purple-shadow);
  margin: 1.5rem;
  padding: 1.5rem;
  max-width: 37.5rem;
}

.main__heading {
  color: var(--dark-purple);
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
}
.main__heading > img.icon {
  vertical-align: baseline;
  width: 1.5rem;
  margin-right: 1rem;
}

.question__tab {
  position: relative;
}

.question__tab + .question__tab {
  border-top: 1px solid var(--purple-shadow);
}
.question__tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.question__response {
  max-height: 10rem;
}
.question__tab .question__heading {
  /* display: none; */
  /* padding-block: 24px; */
  font-size: 1rem;
  font-size: clamp(1rem, 5vw, 1.125rem);
  display: flex;

  align-items: center;
  justify-content: space-between;
  color: var(--dark-purple);
}

.question__tab .question__heading:hover {
  color: var(--purple);
}

.question__response {
  /* display: none; */
  color: var(--grayish-purple);
  font-size: clamp(0.875rem, 5vw, 1rem);
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
  /* codepen styling */
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.question__tab input:checked ~ .question__response {
  max-height: 11rem;
}

.accordion {
  overflow: hidden;
}

.question__label {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 0;
}

.question__label::after {
  content: url(../assets//images/icon-plus.svg);
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  /* margin-left:  */
}

.question__tab input:checked + .question__label::after {
  container: url(../assets/images/icon-minus.svg);
  width: 1em;
  height: 1em;
  text-align: center;
  /* transform: rotate(90deg); */
  transition: all 0.35s;
}

.question__tab input:not(:checked) + .question__label:hover::after {
  /* animation: bounce 0.5s infinite; */
  content: url(../assets/images/icon-minus.svg);
}
/* Star on the question response */

@media screen and (min-width: 24rem) {
  body {
    min-height: 100vh;
    background-image: url(../assets/images/background-pattern-desktop.svg);
  }
  main {
    padding: 3.75rem 2.5rem 1.5rem 2.5rem;
  }

  .main__heading > img.icon {
    width: 2.25rem;
    margin-right: 1.5rem;
  }

  .question__response {
    line-height: 1.5rem;
  }

  .question__label::after {
    margin-left: 1.5rem;
  }
}

/* Helpful link: HTML/CSS styling only */
/* https://codepen.io/raubaca/pen/PZzpVe?editors=1100 */
